{% extends 'base.html' %}

{% block content %}

{% include 'partials/carousel.html' %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <h2>Our Hours</h2><hr>
            <p>Sunday 11:30AM–9:30PM</p>
            <p>Monday	11AM–9:30PM</p> 
             <p>Tuesday	11AM–9:30PM</p>
             <p>Wednesday	11AM–9:30PM</p>
             <p>Thursday	11AM–9:30PM</p>
             <p>Friday	11AM–9:30PM</p>
             <p>Saturday	11:30AM–9:30PM</p>       
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2><hr>
            <h3>Phone:</h3>
            <p>704-000-0000</p>
            <h3>Email:</h3>
            <p>hello@chinapalace.com</p>
        </div>
        <div class="col-md-4">
            <h2>Visit Us</h2><hr>
            <h3>Address</h3>
            <p>9211 N Tryon St UNIT 11,</p>
            <p>Charlotte,</p>
            <p>NC,</p>
            <p>28262</p>

        </div>
    </div>
</div>

    
{% endblock %}